<div id="<%= dom_id person %>" class="my-3">
  <p>
    <strong>Nome:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>CPF / CNPJ:</strong>
    <%= person.national_id %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= render partial: 'people/status_icon', locals: {
      active: person.active
    } %>
  </p>

  <p>
    <strong>Balanço</strong>
    <%= person.balance %>
  </p>

</div>
